.container__content {

  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin: auto;
}


.content__cover > img {

  width: 200px;
  min-width: 500px;
  height: 300px;
}

.content__description{
  margin: 20px;
}
.content__description > p{
  color:gray;
}
