<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="..\..\..\..\assets\imgs\bunny-dj-01.jpg"
      cardTitle="Agenda aberta!"
      cardDescription="Entre em contato para agendar o seu evento!"
    ></app-big-card>
  </div>


  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="../../../assets/imgs/bares.jpg"
      cardTitle="Bares"
    ></app-small-card>

    <app-small-card
      Id="3"
      photoCover="../../../assets/imgs/festa.jpg"
      cardTitle="Festas"
    ></app-small-card>


    <app-small-card
      Id="4"
      photoCover="../../../assets/imgs/eventos.jpg"
      cardTitle="Eventos particulares e corporativos"
    ></app-small-card>

    <app-small-card
    Id="5"
    photoCover="../../../assets/imgs/cafune.png"
    cardTitle="Online"
  ></app-small-card>
  </div>
</div>
