<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="..\..\..\..\assets\imgs\bunny-dj-01.jpg"
      cardTitle="Agenda aberta!"
      cardDescription="Lorem Ipsum dolor Sit Amet."
    ></app-big-card>
  </div>


  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="..\..\..\..\assets\imgs\bunny-roxa1.jpg"
      cardTitle="Bares"
    ></app-small-card>

    <app-small-card
      Id="3"
      photoCover="..\..\..\..\assets\imgs\mtne-1.jpg"
      cardTitle="Festas"
    ></app-small-card>


    <app-small-card
      Id="4"
      photoCover="..\..\..\..\assets\imgs\cafune.png"
      cardTitle="Eventos particulares e corporativos"
    ></app-small-card>
  </div>
</div>
